*{
    box-sizing: border-box;
}
form{
    width: 400px;
    border-width: 1px solid #dedede;
    /* border-width: 1px;
    border-style: solid;
    border-color: blue; */
}
form label{
    display: block;
}
form input{
    width: 100%;
    display: block;
}
for button{
    
}